name: CodeQL Scan
on:
  push:
  pull_request:

jobs:
  analyze:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - uses: github/codeql-action/init@v2
      with:
        languages: javascript, typescript
    - uses: github/codeql-action/autobuild@v2
    - uses: github/codeql-action/analyze@v2
